//COLORS
$color-primary: #1864ab;
$color-primary-light: #1c7ed6;

$backgrounds: #d2e5f7;
$color-black: #000;
$color-white: #fff;
$color-grey-dark: #333;
$invalid: #ea470c;
//FONT WEIGHTS
$default-weight: 300;
$medium-weight: 400;
$bold: 700;
